In [1]:
import pandas as pd

In [2]:
A=pd.read_csv("F:/data science workshop/DATA-SET/data/Cars93.csv")

In [3]:
A.head()

,Unnamed: 0,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [4]:
A=A.drop(labels="Unnamed: 0",axis=1)

In [5]:
A.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [6]:
import seaborn as sb

In [8]:
import matplotlib.pyplot as plt

In [9]:
A.columns

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [10]:
Y=A[["Type"]]
X=A[['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make']]

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le=LabelEncoder()

In [14]:
le=LabelEncoder()

In [16]:
X=X.apply(le.fit_transform)

In [35]:
X

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,0,48,3,25,33,36,10,11,2,1,...,2,18,10,6,5,9,4,24,1,0
1,0,55,2,67,71,73,3,5,0,1,...,2,36,23,9,6,16,8,60,1,1
2,1,8,0,63,66,63,5,6,1,1,...,2,21,10,5,5,12,7,50,1,3
3,1,0,2,69,76,76,4,6,0,1,...,3,34,14,8,5,18,10,52,1,2
4,2,5,2,61,68,69,7,10,1,2,...,1,27,17,7,7,10,6,64,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,30,41,5,42,47,49,2,1,2,1,...,4,28,23,10,6,21,23,75,1,88
89,30,64,0,46,50,47,6,10,2,1,...,2,21,11,5,3,19,7,39,1,90
90,30,28,4,60,57,51,3,5,2,1,...,1,3,5,4,4,8,8,28,1,87
91,31,2,0,57,56,50,6,8,1,2,...,2,31,12,5,5,15,7,39,1,91
92,31,7,2,62,63,59,5,8,0,1,...,2,25,13,7,6,16,8,48,1,92

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=10)

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
dtc=DecisionTreeClassifier(criterion='entropy',random_state=30,max_depth=7)

In [21]:
model=dtc.fit(xtrain,ytrain)

In [24]:
pred=model.predict(xtest)

In [25]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [26]:
accuracy_score(ytest,pred)

1.0

In [27]:
confusion_matrix(ytest,pred)

array([[1, 0, 0, 0, 0],
       [0, 8, 0, 0, 0],
       [0, 0, 4, 0, 0],
       [0, 0, 0, 5, 0],
       [0, 0, 0, 0, 1]], dtype=int64)

In [28]:
dtc=DecisionTreeClassifier(criterion='entropy')

In [29]:
from sklearn.model_selection import GridSearchCV

In [30]:
tp={"max_depth":range(2,15)}

In [32]:
gcv=GridSearchCV(dtc,tp,scoring="accuracy",cv=4)

In [33]:
cvmodel=gcv.fit(xtrain,ytrain)

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [34]:
cvmodel.best_params_

{'max_depth': 9}